In [152]:
import pandas as pd
import numpy as np
import seaborn as sns

`DataFrame.pipe(func, *args, **kwargs)`

- `apply()` - Row or Column wise function operation
- `pipe()` - Table wise function applications in Pandas
  
Important link: https://www.youtube.com/watch?v=M6YPuAub4iw

In [155]:
df = sns.load_dataset('diamonds')
df= df.head(50)
df.head(10)

   carat        cut color clarity  depth  table  price     x     y     z
0   0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
5   0.24  Very Good     J    VVS2   62.8   57.0    336  3.94  3.96  2.48
6   0.24  Very Good     I    VVS1   62.3   57.0    336  3.95  3.98  2.47
7   0.26  Very Good     H     SI1   61.9   55.0    337  4.07  4.11  2.53
8   0.22       Fair     E     VS2   65.1   61.0    337  3.87  3.78  2.49
9   0.23  Very Good     H     VS1   59.4   61.0    338  4.00  4.05  2.39

Consider we have customers interested in diamonds with specific characteristics, which are carat, cut, colour and price.

Some are more interested in the colour of the diamond, while others are more interested in the cut.
We can write a function to return us a DataFrame based on these characteristics.

* I create a function called `color_and_cut_selection()`

In [158]:
def color_and_cut_selection(df, sort_variables):
    '''
    I make a copy of the DataFrame as using pipe will overwrite it
    I use the chaining method to keep things neat
    And I use queries to retrieve the data my customers are interested in
    I sort the data on cut and color using the default value 
    And return the DataFrame having only the columns of interest
    '''
    df = df.copy()
    df = (df
          .query('color in ["E"]')
          .query('cut == "Ideal" | cut == "Premium"')
          .sort_values(by=sort_variables, ascending=False)
          )
    return df

In [160]:
# Within the pipe, pass in the function and the argument to sort the data by
# In this case, only the function is passed in, 
# and the data is sorted based on the functions default value

df.pipe(color_and_cut_selection, sort_variables=['cut', 'color'])

    carat      cut color clarity  depth  table  price     x     y     z
1    0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
14   0.20  Premium     E     SI2   60.2   62.0    345  3.79  3.75  2.27
15   0.32  Premium     E      I1   60.9   58.0    345  4.38  4.42  2.68
0    0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43

## Instruction

Create a function named `CalculateTipPerception`, which will take only one argument, the DataFrame.

The function should create a column named **TipPerception**, and assign it the following:
* Within the function, use the `apply()` function on the tip column.
* Then within the apply function, use a lambda function to check if the tip is greater than 3 and have it return **Could be better** or **Nice**.
* You will now have a single line of code within the function named `CalculateTipPerception`

The second line in the `CalculateTipPerception` function returns the DataFrame.

In [173]:
df_practice = sns.load_dataset('tips')
print(f"DataFrame shape: {df_practice.shape}")
df_practice.head(10)

DataFrame shape: (244, 7)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4
5       25.29  4.71    Male     No  Sun  Dinner     4
6        8.77  2.00    Male     No  Sun  Dinner     2
7       26.88  3.12    Male     No  Sun  Dinner     4
8       15.04  1.96    Male     No  Sun  Dinner     2
9       14.78  3.23    Male     No  Sun  Dinner     2

In [189]:
def CalculateTipPerception(df_practice):
    df_practice['TipPerception'] = df_practice['tip'].apply(lambda x: 'Could be better' if x > 2 else 'Nice')
    # df['x'] returns a Series (a one-dimensional object with the values of the column)
    # df[['x']]: Returns a DataFrame (a two-dimensional object with one column)
    return df_practice

In [191]:
df_practice = df_practice.pipe(CalculateTipPerception)
df_practice.head(10)

   total_bill   tip     sex smoker  day    time  size    TipPerception
0       16.99  1.01  Female     No  Sun  Dinner     2             Nice
1       10.34  1.66    Male     No  Sun  Dinner     3             Nice
2       21.01  3.50    Male     No  Sun  Dinner     3  Could be better
3       23.68  3.31    Male     No  Sun  Dinner     2  Could be better
4       24.59  3.61  Female     No  Sun  Dinner     4  Could be better
5       25.29  4.71    Male     No  Sun  Dinner     4  Could be better
6        8.77  2.00    Male     No  Sun  Dinner     2             Nice
7       26.88  3.12    Male     No  Sun  Dinner     4  Could be better
8       15.04  1.96    Male     No  Sun  Dinner     2             Nice
9       14.78  3.23    Male     No  Sun  Dinner     2  Could be better